h1{
    margin: 20px;
    color:darkslateblue;
    font-family: sans-serif;
    font-style:bold;
}
p{ 
    color:darkslateblue;
    font-family: sans-serif;

}
h2{
    color:darkslateblue;
    font-family: sans-serif;
    font-style: bold;
}
ul{
    color: darkslateblue;
    font-family: sans-serif;
}
li{
    color: darkslateblue;
    font-family: sans-serif;

}
a{
    color:deepskyblue;
}
